.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:rgba(255, 255, 255, 0.1);
}



/* <-- Sign Up section --> */
.signup__btn{
  margin-top:25px;
  border-radius:5px;
}
.signup__box{
  border-radius:12px;
  transition:0.5s;
}
.signup__box input{
  border:1px solid gray;
  border-radius:5px;
  padding:7px;
  margin-bottom:7px;
}
.signup__box input:focus{
  border:1px solid green;
  width: 240px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.list__card{
  margin-right:300px;
  margin-top:20px;
  margin-left:300px;
}





@media (max-width: 765px) {
  .box {
    width: 300px;
    padding: 20px;
    position: absolute;
    transform: translateX(-140px);
  }
  .box input[type="text"],
.box input[type="password"] {
  width: 200px;

}
  .box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 240px;
}
.list__card{
  margin-right:0px;
  margin-left:0px;
}
}
